<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>AngularMiniNetflix</span>
    <span class="middle"></span>
    <span>
      <button
        *ngIf="afAuth.user | async as user"
        mat-flat-button
        [matMenuTriggerFor]="menu"
      >
        {{ user.displayName }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/']">Home</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="movies-wrapper">
  <div
    class="movie-container"
    *ngFor="let movie of favourites"
    [routerLink]="['/movie', movie.id]"
  >
    <img
      src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}"
      alt="{{ movie.title }}"
    />
    <div class="movie-info">
      <h4>{{ movie.title }}</h4>
      <h6>{{ stringToDate(movie.release_date).getFullYear() }}</h6>
    </div>
  </div>
</div>
