<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>AngularMiniNetflix</span>
    <span class="middle"></span>
    <span>
      <button
        *ngIf="afAuth.user | async as user; else showLogin"
        mat-flat-button
        [matMenuTriggerFor]="menu"
      >
        {{ user.displayName }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/']">Home</button>
        <button mat-menu-item [routerLink]="['/favourites']">Favourites</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

      <ng-template #showLogin>
        <button mat-flat-button color="accent" (click)="login()">
          Login with Google
        </button>
      </ng-template>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="search-wrapper">
  <mat-form-field appearance="outline">
    <mat-label>Search for a movie</mat-label>
    <input
      type="search"
      matInput
      [(ngModel)]="value"
      (ngModelChange)="search($event)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="movies-wrapper">
  <div
    class="movie-container"
    *ngFor="let movie of results"
    [routerLink]="['/movie', movie.id]"
  >
    <img
      src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}"
      alt="{{ movie.title }}"
    />
    <div class="movie-info">
      <h4>{{ movie.title }}</h4>
      <h6>{{ stringToDate(movie.release_date).getFullYear() }}</h6>
    </div>
  </div>
</div>
